#halaman
{
	width: 1300px;
	height: auto;
	margin : 0 auto;
	background-color: gray;
}
#header{
	background-color:red;
	width:1300px;
	height:100px;
	padding-bottom : 20px;
	box-shadow:0 0 10px rgba(0,0,0,.25)
}
#text{
	color: white;
	padding-top: 30;
	font-size: 40;
	font-style: Segoe UI;
	text-align: center;
}
#text2{
	color: white;
	padding-top: 30;
	font-size: 20;
	font-style: Segoe UI;
	text-align: center;
}
#menu ul
{
	
	background: Gainsboro;
	padding: 0 0px;
	position: relative;
	box-shadow: 0 0 10px rgba(0,0,0,.25);
	list-style: none
}

#menu ul:after
{
	content:"";
	clear: both;
	display: block
} 

#menu ul li
{
	float: left
}

#menu ul li:hover
{
	background: red;
}

#menu ul li a
{
	display: block;
	color: white;
	padding: 10px 25px;
	text-decoration: none
}

#menu ul ul
{
	background: red;
	position: absolute;
	padding: 0;
	top: 100%;
	display: none
}

#konten
{
	background-color: white;
	width: auto;
	height: auto;
	margin:  0 0 0;
	padding: 20px 20px 20px 10px;
	box-shadow: 0 0 10px rgba(0,0,0,.25)
}

#h2
{
	text-decoration: blink;
	color: red;
	text-align: center;
	font-style: italic;
	font-size: 30;

}
#footer
{
	background-color: red;
	
	width: 1300px;
	padding-top : 20px;
	height: 70px;
	clear: both;
	margin: 20 0;
	text-align: center;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,.25);
}